{
  "extends": "airbnb",
  "rules": {
    "array-bracket-spacing": [2, "always"],
    "comma-dangle": [2, "never"],
    "curly": 0,
    "eqeqeq": [2, "smart"],
    "no-param-reassign": 0,
    "one-var": 0,
    "one-var-declaration-per-line": 0,
    "semi": [2, "never"]
  }
}
